section#contact.l-contact
    .content
        form.contact-form
            .contact-name
                label(for="name") Your Name (required)
                input(id="name" name="name")
            .contact-email
                label(for="email") Your Email (required)
                input(id="email" name="email")
            .contact-subject
                label(for="subject") Subject
                input(id="subject" name="subject")
            .contact-message
                label(for="message") Your Message
                textarea(id="message" name="message")
            .contact-submit
                input(type="button" value="Submit")