header.main-header
    .content
        .logo
            a(href="#start")
                .logo-image
        .mobile-menu
            .top
            .middle
            .bottom
        nav.main-nav    
            ul.main-nav-items
                li: a(href="#start") Start
                li: a(href="#about") About
                li: a(href="#team") Team
                li: a(href="#contact") Contact