section.l-motto
    .content
        figure
            blockquote “It is simply this: do not tire, never lose interest, never grow indifferent—lose your invaluable curiosity and you let yourself die. It's as simple as that.”
            figcaption Tove Jansson
                