section#start.l-start.owl-carousel-start
    .start-slide
        .content
            .slide-text
                h1 We can write a book of your dreams
                p Did you ever want to read a book about yourself? Now you can!
                a(href="#").button.yellow Order a book
    .start-slide
        .content
            .slide-text
                h1 We can find a perfect book for you
                p Check out the list of our works. But please, no e-mails about Ulysses.
                a(href="#").button.red See our books
    .start-slide
        .content
            .slide-text
                h1 We are the best writers of 20th century
                p Together we are stronger and better then ever. 
                a(href="#").button.green Meet the authors