section#team.l-team
    .content
        h2 Our team
        .owl-carousel-team
            .team-member
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset="images/hemingway.jpg, images/hemingway@2x.jpg 2x")
                    <!--[if IE 9]></video><![endif]-->
                    img(src="images/hemingway.jpg" alt="photo of Ernest Hemingway")
                h4 Ernest
                p Author of "From Whom the Bell Tolls"
            .team-member
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset="images/faulkner.jpg, images/faulkner@2x.jpg 2x")
                    <!--[if IE 9]></video><![endif]-->
                    img(src="images/faulkner.jpg" alt="photo of William Faulkner")
                h4 William
                p Author of "The Sound and the Fury"
            .team-member
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset="images/lindgren.jpg, images/lindgren@2x.jpg 2x")
                    <!--[if IE 9]></video><![endif]-->
                    img(src="images/lindgren.jpg" alt="photo of Astrid Lindgren")
                h4 Astrid
                p Author of "The Children of Noisy Village"
            .team-member
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset="images/beckett.jpg, images/beckett@2x.jpg 2x")
                    <!--[if IE 9]></video><![endif]-->
                    img(src="images/beckett.jpg" alt="photo of Samuel Beckett")
                h4 Samuel
                p Author of "Waiting for Godot"
            .team-member
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset="images/kafka.jpg, images/kafka@2x.jpg 2x")
                    <!--[if IE 9]></video><![endif]-->
                    img(src="images/kafka.jpg" alt="photo of Franz Kafka")
                h4 Franz
                p Author of "The Trial"
            .team-member
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset="images/jansson.jpg, images/jansson@2x.jpg 2x")
                    <!--[if IE 9]></video><![endif]-->
                    img(src="images/jansson.jpg" alt="photo of Tove Jansson")
                h4 Tove
                p Author of "The Moomins"
            .team-member
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset="images/joyce.jpg, images/joyce@2x.jpg 2x")
                    <!--[if IE 9]></video><![endif]-->
                    img(src="images/joyce.jpg" alt="photo of James Joyce")
                h4 James
                p Author of "Ulisses"
            .team-member
                picture
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    source(srcset="images/twain.jpg, images/twain@2x.jpg 2x")
                    <!--[if IE 9]></video><![endif]-->
                    img(src="images/twain.jpg" alt="photo of Mark Twain")
                h4 Mark
                p Author of "Adventures of Huckleberry Finn"


