doctype html
html(lang='en')
	head
		include partials/head.jade
	body
		.container
			include partials/header.jade
			include partials/start.jade
			include partials/about.jade
			include partials/motto.jade
			include partials/team.jade
			include partials/contact.jade
			include partials/footer.jade

		script(src="js/minified/script.min.js")
		


