header {
    height: 60px;
    width: 100%;
    max-width: 1920px;
    position: fixed;
    top: 0;
    z-index: 2;
    background: $brown; 
    @extend %clearfix;
    .logo {
        float: left;
        margin-left: 20px;
        margin-top: 8.75px;
        @include bp(medium) {
            margin-left: 0;
        }
    }
    .mobile-menu {
        float: right;
        margin-top: 11px;
        margin-right: 20px;
        @include bp(medium) {
            display: none;
            margin-right: 0;
        }
    }
    .main-nav {
        clear: both;
        @include bp(medium) {
            float: right;
            clear: none;
        }
    }
}