.contact-form {
    width: 100%;
    padding: 40px 20px;
    text-align: left;
    background: rgba(255,255,255,0.4);
    @include bp(medium) {
        width: 60%;
        margin: 0 auto;
    }
    input, textarea {
        width: 100%;
        margin: 6px 0;
        padding: 6px 12px;      
        border: 2px solid lighten($black,40%);
    }
    textarea {
        height: 220px;
    }
    .contact-submit input {
        width: auto;
        border: none;
        background: darken($yellow,10%);
    }
}